<header class="flex justify-center p-4 border-b border-black bg-CFE-800 shadow-md">
    <nav class="flex gap-8 font-bold ">
      <a href="/" class="hover:text-white transition-colors duration-200 ease-in-out transform hover:scale-105">HOME</a>
<!--       <a href="/landing/oferta" class="hover:text-white transition-colors duration-200 ease-in-out transform hover:scale-105">OFFER</a> -->
      <a href="/app/indexApp" class="hover:text-white transition-colors duration-200 ease-in-out transform hover:scale-105">WEBAPP</a>
      <a href="/landing/products" class="hover:text-white transition-colors duration-200 ease-in-out transform hover:scale-105">PRODUCT DEVICES</a>
      <a href="/landing/about" class="hover:text-white transition-colors duration-200 ease-in-out transform hover:scale-105">ABOUT US</a>
    </nav>
</header>

  