---
import Layout from '../../layouts/Layout.astro';
import Form from '../../components/app/Login.astro';
---
<Layout title="ENERG-X">
	<main class="w-full h-screen bg-CFE-900 flex justify-center items-center" >
		<Form />
	</main>
</Layout>