---
import Layout from '../..//layouts/Layout.astro';
import BaseL from '../..//layouts/BaseLayout.astro';
import GraphicsBuilding from '@components/app/animations/GraphicsBuilding';
import { FaBuilding } from "react-icons/fa6";

const articles = Array.from({ length: 12 }, (_, index) => index + 1);
---
<Layout title="LowerG">
	<main>
		<BaseL>
			<section class="w-full grid grid-cols-3 gap-4 p-4" >
				{articles.map((number) => (
					<a href="/app/panelAdm">
						<article class="bg-slate-300 h-44 rounded-xl hover:scale-105 transition-all cursor-pointer grid grid-cols-2 grid-rows-2 relative">
						<h2 class="col-start-1 row-start-1 pl-4 pt-4 font-semibold" >Edificio {number} </h2>
						<p class="col-start-2 row-start-1 flex justify-end p-4 text-3xl" ><FaBuilding className="text-4xl"/></p>
						<div class="absolute w-full h-auto" >
							<GraphicsBuilding client:load />
						</div>
					</article>
					</a>
				))}			
			</section>
		</BaseL>
	</main>
</Layout>