---
import SignUp from '../../components/app/SignUp.astro';
import Layout from '../../layouts/Layout.astro';
---
<Layout title="LowerG">
	<main class="w-full h-screen bg-CFE-900 flex justify-center items-center" >
		<SignUp />
	</main>
</Layout>