---
import Header from "../components/app/Header.astro";
import UserAside from "../components/app/UserAside";
import ImageFondo from "../assets/mascota_happy.png";
import { Image } from "astro:assets";
import "../styles/global.css";
---

<div class="min-h-screen w-full flex flex-col overflow-x-hidden">
  <Header />

  <section class="flex min-h-0 flex-1 flex-col lg:flex-row">
    <aside class="flex w-full shrink-0 flex-row items-center gap-4 border-b border-black/10 bg-CFE-600 p-4 lg:w-72 lg:flex-col lg:border-b-0 lg:border-r">
      <div class="w-full flex-1">
        <UserAside client:load />
      </div>

      <figure class="w-24 sm:w-32 lg:mt-4 lg:w-full">
        <Image
          src={ImageFondo}
          alt="Mascota EnergX"
          class="h-auto w-full object-contain"
        />
      </figure>
    </aside>

    <div class="min-w-0 flex-1">
      <slot />
    </div>
  </section>
</div>